<style type="text/css">
	p{
		line-height:30px;
		font-size:14px;
		color:#333;
		font-family:'宋体',arial,sans-serif
	}
	p.first{
		font-size:14px;
		line-height:30px;
		color:#333;
		font-family:arial,sans-serif;
		font-weight:bold
	}

	b{
		font-size:18px;
		color:#f90
	}
	span{
		margin-left:10px;
		line-height:30px;
		font-size:14px;
		color:#979797;
		font-family:'宋体',arial,sans-serif
	}
</style>


<p class="first">亲爱的用户：</p>
<p>您好！感谢您使用sunの书屋，您正在进行邮箱验证，本次请求的验证码为：</p>
<p>
	<b>{{ code }}</b>
	<span>(为了保障您帐号的安全性，请在1小时内完成验证。)</span>
</p>
