body {
    background: #f5f5f5;
}
a:hover {
  text-decoration: none;
  color: #ea6f5a;
}

/*导航栏*/
#carousel-example-generic {
    background: #FFFFFF;
}
.navbar{
    background: #FFFFFF;
}
.navbar-brand img{
    height: 30px;
    display:inline;
}
.user-ico{
    height: 30px;
}
.profile-ico{
    height: 100px;
}

.alert-message{
    text-align: center;
    font-weight: bold;
}

/*右侧*/
.base-right{
    background: #FFFFFF;
    height: 350px;
}
.base-right h2{
    font-family: Sans-serif;
    font-weight: normal;
    text-align: center;
}
.img-right{
    height: 40px;
    width: 40px;
    margin-left: 40px;
}
.media-heading{
    width:250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
#base-right ul{
    text-align: center;
    list-style-type: none;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
}

/*footer*/
.panel-footer{
    text-align: center;
    background: #eee;
    padding: 50px 0;
    color: #999;
}
.panel-footer a{
    color: #999;
    margin-left: 10px;
}

/*book_list相关页面*/
.promote-title {
    font-size: 22px;
}

.promote-title:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 22px;
    margin-right: 10px;
    vertical-align: middle;
    background: #dd182b;
}

#book_row{
    margin-top: 10px;
    margin-bottom: 10px;
}
#book_row .col-md-5{
    background: #FFFFFF;
    margin: 5px 10px 5px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.book-page{
    background: #FFFFFF;
    margin: 5px 10px 5px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.book-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#read-button{
    text-align: right;
}

/*登录注册页面*/
.container-small {
  max-width: 500px;
  background: #FFFFFF;
  margin-bottom: 30px; 
}

.btn-primary {
  background-color: #ea0c3c;
  border-color: #db0d3a;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #d50c37;
  border-color: #d50c37;
}

/*404页面*/
.errorpage {
    margin:30px 15px;
}
.errormsg {
    margin:30px 0;
    color: #6d6d7b;
}
.errormsg h3 {
    margin:25px 0;
}
.errormsg a {
    text-decoration: none;
    background:#fff;
    padding:.6em 1em;
    color:#FF7150;
    border: 1px solid #ff7150;
    border-radius: 2px;
    line-height: 35px;
    cursor:pointer;
}
.errormsg a:hover {
    background:#ff7150;
    padding:.6em 1em;
    color:#fff;