{% extends 'books/base.html'%}
{% block title %}注册-sunの书屋{% endblock %}
{% block content %}

<!--获取验证码后开始失效倒计时，60秒后方可重新获取-->
<script>
var countdown=60;
function settime(obj) {
    if (countdown == 0) {
        obj.removeAttribute("disabled");
        obj.value="获取验证码";
        countdown = 60;
        return;
    } else {
        obj.setAttribute("disabled", true);
        obj.value="重新发送(" + countdown + ")";
        countdown--;
    }
setTimeout(function() {
    settime(obj) }
    ,1000)
}
</script>

<!--注册表单-->
<div class="container container-small">
    <!--表单主体-->
    <h1>注册 <small>已有账号<a href="{% url 'users:auth_login'%}">登录</a></small></h1>
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      <div class="form-group">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password1.errors }}
      </div>
      <div class="form-group">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {{ form.password2.errors }}
      </div>
      <div class="form-group">
        {{ form.code.label_tag }}
        <div class="input-group">
          {{ form.code }}
          <span class="input-group-btn">
            <input type="button" id="code" onclick="settime(this)" value="免费获取验证码" class="btn btn-success">
          </span>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">注册</button>
      </div>
    </form>
</div>

<!--提交email到服务器-->
<script>
    $('#code').click(function () {
        $.ajax({
            cache:false,
            type:"POST",
            url:"{% url 'users:send_code' %}",
            data:{
               csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val(),
               email:$("#id_email").val()
            },
            async:true,
            success:function (data) {
                alert(data)
            }
        })
    })
</script>
{% endblock %}

