{% load static %}

<div class="col-md-5">
<div class="col-md-4">
    <a href="{% url 'books:detail' book.id %}">
        <img class="img-thumbnail" src="{% static 'books/img/15.jpg'%}">
    </a>
</div>
<div class="col-md-8">
    <div>
        <h4>书名：<a href="{% url 'books:detail' book.id %}">{{ book.name }}</a></h4>
    </div>
    <div class="info">
        <p>{{ book.summary }}</p>
    </div>
    <p id="read-button">
        {% if request.user in book.collect_user.all %}
        <a href="{% url 'books:collect_book' book.id %}" class="btn btn-info" role="button">取消收藏</a> 
        {%  else %}
         <a href="{% url 'books:collect_book' book.id %}" class="btn btn-info" role="button">收藏</a> 
        {% endif %}
        <a href="{% url 'books:detail' book.id %}" class="btn btn-info" role="button">阅读</a>
    </p>
</div>
</div>